################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CoreExamApi/.vs
/CoreExamApi/CoreExamApi/bin/Debug/netcoreapp2.1
/CoreExamApi/CoreExamApi/obj
