/*css document*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
a,a:hover{outline:0;}
img,input,select{ border:0; outline:0;}
*{ font-family:'微软雅黑';}

.djs-box{ position:absolute; left:50%; margin-left:-143px; width:390px; top:340px; font-size:20px; color:#fff;}
.pad{ padding-left:8px; padding-right:8px; font-weight:bold; color:#fd4b8a;}


.bg1{ width:100%; background-repeat:no-repeat; overflow:hidden; background:url(../images/bg1.jpg); height:1151px;}
.bg2{ width:100%; text-align:center; background-color:#003366; color:#fff; font-size:14px; height:49px; line-height:49px;}
.logo-box{ margin-left:auto; margin-right:auto; position:relative; width:970px; height:291px;}
.logo{ background-repeat:no-repeat; position:absolute; background-image:url(../images/logo1.png); width:970px; height:291px; left:0;}
.kong{ height:20px;}
.plane{ position:absolute; background-image:url(../images/plane.png); width:96px; height:40px; top:0; right:-70px;}
.light{ position:absolute; background-image:url(../images/light.png); width:676px; height:263px; top:20px; right:-45px;}
.yun1{ position:absolute;  background-image:url(../images/yun1.png); width:243px; height:30px; top:26px; left:10px;}
.yun2{ position:absolute; background-image:url(../images/yun2.png); width:350px; height:45px; top:210px; left:-253px;}
.yun3{ position:absolute; background-image:url(../images/yun3.png); width:349px; height:48px; top:102px; right:-190px;}
.bg_pic{ position:absolute; background-image:url(../images/bg_pic.png); width:1113px; height:427px; top:510px; left:50%; margin-left:-551px;}
.water2{ background-image:url(../images/water2.png); position:absolute; top:890px; right:-20px; width:425px; height:67px; }
.car{ background-image:url(../images/car.png); position:absolute; top:640px; left:30px; width:72px; height:40px;}
.car1{ background-image:url(../images/car1.png); position:absolute; top:640px; left:3400px; width:72px; height:40px;}
.bicycle{ background-image:url(../images/bicycle.png); position:absolute; top:643px; right:150px; width:66px; height:36px;}
.boat{ background-image:url(../images/boat.png); position:absolute; width:46px; height:48px; top:870px; right:168px; }

.input_box{ width:390px; left:50%; margin-left:195px;font-size:18px; color:#333; margin-left:auto; margin-right:auto; padding-top:65px;}
.name{ letter-spacing:2px;}
.password{ letter-spacing:22px;}
.i-name,.i-password{ padding:12px 0 12px 15px;; width:285px; font-size:16px; color:#333; margin-top:15px;}
.button{ background-image:url(../images/button.png); background-repeat:no-repeat; width:183px; height:48px;  position:absolute; left:50%; margin-left:-91px; margin-top:35px; display:block;}
.phone{ margin-left:15px;}


@media screen and (max-width: 400px) {
	.bg1{ background:url(../images/s_bg1.jpg); height:605px;}
	.bg2{ height:60px; line-height:30px; vertical-align:middle;}
    .phone{ margin-left:0px; display:block;}
	.logo-box{ width:300px; height:90px; margin-top:10px;}
	.logo{ background-image:url(../images/logo1.png); background-size:80%; background-repeat:no-repeat; width:324px; height:97px; left:50%; margin-left:-130px; top:15px;}
	.plane{ background-image:url(../images/s_plane.png); width:48px; height:20px; top:0; right:-30px;}
    .light{ background-image:url(../images/s_light.png); width:338px; height:131px; top:12px; right:-22px;}
	.yun1{ background-image:url(../images/s_yun1.png); width:120px; height:15px; position:absolute; top:13px; left:-10px; }
	.yun2{ background-image:url(../images/s_yun2.png); width:175px; height:23px; position:absolute; top:75px; left:-70px;}
	.yun3{ background-image:url(../images/s_yun3.png); width:175px; height:24px; position:absolute; top:42px; right:-80px;}
	.bg_pic{ background-image:url(../images/bg_pic2.png); background-size:30%; background-repeat:no-repeat; /*width:347px; height:132px;*/ top:370px; left:50%; margin-left:-173px;}
	
	.water2{ background-image:url(../images/ss_water2.png); position:absolute; width:213px; height:33px; top:490px; right:-40px;}
	.car{ background-image:url(../images/s_car.png); width:36px; height:20px; top:402px; left:30px;}
	.car1{ background-image:url(../images/s_car1.png); width:36px; height:20px; top:402px; left:3400px;}
	.bicycle{ background-image:url(../images/s_bicycle.png); width:33px; height:18px; top:405px; right:30px;}
	.boat{ background-image:url(../images/s_boat.png);  width:23px; height:24px; top:480px; right:50px;}

	.input_box{ width:315px;  margin-left:auto; margin-right:auto; margin-top:65px;}
	.i-name,.i-password{ padding:10px 0 10px 15px; width:200px;}
	.button{ background-image:url(../images/button.png); background-size:65%; background-repeat:no-repeat; margin-left:-40px;}
    .djs-box{ top:150px; font-size:16px; margin-left:-130px; width:260px;}


}


@media screen and (min-width: 400px) and (max-width: 800px) {
	.bg1{ background:url(../images/s_bg1.jpg); height:805px;}
	.bg2{ height:60px; line-height:30px; vertical-align:middle;}
    .phone{ margin-left:0px; display:block;}
	.logo-box{ width:380px; height:114px; margin-top:10px;}
    .logo{ background-image:url(../images/logo3.png);  width:380px; height:114px; left:0;}
	.plane{ background-image:url(../images/s_plane.png); width:48px; height:20px; top:10; right:-30px;}
    .light{ background-image:url(../images/s_light.png); width:338px; height:131px; top:12px; right:-22px;}
	.yun1{ background-image:url(../images/s_yun1.png); width:120px; height:15px; position:absolute; top:13px; left:-10px;}
	.yun2{ background-image:url(../images/s_yun2.png); width:175px; height:23px; position:absolute; top:100px; left:-120px;}
	.yun3{ background-image:url(../images/s_yun3.png); width:175px; height:24px; position:absolute; top:42px; right:-80px;}
	.bg_pic{ background-image:url(../images/bg_pic3.png); width:557px; height:213px; top:440px; left:50%; margin-left:-279px;}
	
	.water2{ background-image:url(../images/s_water2.png); position:absolute; width:297px; height:47px; top:635px; right:-100px;}
	.car{ background-image:url(../images/car.png); width:72px; height:40px; top:485px; left:10px;}
	.car1{ background-image:url(../images/car1.png); width:72px; height:40px; top:485px; left:1700px;}
	.bicycle{ background-image:url(../images/bicycle.png); width:66px; height:36px; top:488px; right:70px;}
	.boat{ background-image:url(../images/boat.png);  width:46px; height:48px; top:620px; right:30px;}
    .djs-box{ top:165px; }

}
@media screen and (min-width: 800px) and (max-width: 1300px) {
	.bg1{ background:url(../images/bg1.jpg); height:1151px;}
	.bg2{ height:49px; line-height:49px;}
	.logo-box{ width:730px; height:219px; }
    .logo{ background-image:url(../images/logo2.png); width:730px; height:219px; left:0;}
	.plane{ background-image:url(../images/plane.png); width:96px; height:40px; top:0; right:-70px;}
    .light{ background-image:url(../images/light.png); width:676px; height:263px; top:20px; right:-45px;}
	.yun1{ background-image:url(../images/yun1.png); width:243px; height:30px;  top:26px; left:10px;}
	.yun2{ background-image:url(../images/yun2.png); width:350px; height:45px; top:180px; left:-150px; }
	.yun3{ background-image:url(../images/yun3.png); width:349px; height:48px; top:92px; right:-170px;  }
	.bg_pic{ background-image:url(../images/bg_pic2.png); width:859px; height:330px; top:510px; left:50%; margin-left:-430px;}
	
	.water2{ background-image:url(../images/water2.png); width:425px; height:67px; top:800px; right:-60px;}
	.car{ background-image:url(../images/car.png); width:72px; height:40px; top:600px; left:30px;}
	.car1{ background-image:url(../images/car1.png); width:72px; height:40px; top:600px; left:3400px;}
	.bicycle{ background-image:url(../images/bicycle.png); width:66px; height:36px; top:603px; right:150px;}
	.boat{ background-image:url(../images/boat.png);  width:46px; height:48px; top:780px; right:108px;}
    .djs-box{ top:260px; }
}

