@charset "utf-8";
/* CSS Document */
@import url(base.css);
/*页面顶部样式*/
a, a:hover {
    text-decoration: none;
}

body {
    background: #1d89c9;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.topBox {
    width: 100%;
    height: 62px;
    background: url(/Resources/images/old/topBg.gif) repeat-x 0 0;
}
/*logo样式*/
.Logo {
    padding-left: 10px;
    height: 55px;
}

.LogoPic {
    width: 412px;
    height: 35px;
    padding-top: 18px;
}

.LogoFont {
    padding-left: 6px;
    display: block;
    padding-top: 25px;
    height: 30px;
}
/*顶部右侧*/
.topRight {
    height: 62px;
}
/*当前用户信息*/
.siteTip {
    display: block;
    padding-right: 24px;
    height: 34px;
}

.siteTipImg {
    display: block;
    width: 22px;
    text-align: left;
    height: 19px;
    float: right;
    padding-top: 5px;
}

a.siteTipUser {
    display: block;
    height: 20px;
    float: right;
    line-height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    cursor: pointer;
    padding-top: 3px;
    outline: none;
    text-decoration: none;
}

    a.siteTipUser img {
        display: inline-block;
        border: none;
        margin-left: 4px;
    }

    a.siteTipUser .siteUserFont {
        float: left;
        display: block;
        text-align: left;
    }
/*user弹出层*/
.userLayerBox {
    width: 116px;
    height: auto;
    overflow: hidden;
}

.userLayerBoxT {
    width: 116px;
    height: 15px;
    background: url(/Resources/images/old/userLayerTop.png) no-repeat 0 0;
}

.userLayerBoxC {
    width: 106px;
    height: auto;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 6px;
    font-size: 12px;
    background: url(/Resources/images/old/userLayerC.png) repeat-y 0 0;
}

    .userLayerBoxC ul {
        margin-left: 0px;
        padding-left: 0px;
    }

        .userLayerBoxC ul li {
            width: 86px;
            height: 24px;
            padding-left: 14px;
            padding-right: 4px;
            margin-left: 0px;
            line-height: 24px;
            list-style-type: none;
            background: url(/Resources/images/old/listIcon.gif) no-repeat 6px 12px;
            border-bottom: 1px solid #8db4cd;
        }

            .userLayerBoxC ul li a {
                color: #006599;
                text-decoration: none;
            }

                .userLayerBoxC ul li a:hover {
                    color: #ff6600;
                }

.userLayerBoxBt {
    width: 116px;
    height: 12px;
    background: url(/Resources/images/old/userLayerBt.png) no-repeat 0 0;
}

/*顶部导航菜单*/
.subNavBox {
    height: 29px;
}

.subNavBg_Left {
    width: 22px;
    height: 29px;
    background: url(/Resources/images/old/topMenu_Left.png) no-repeat 0 0;
}
/*顶部导航菜单中部内容*/
.subNavBg_Center {
    height: 29px;
    padding-left: 10px;
    padding-right: 10px;
    background: url(/Resources/images/old/topMenu_centerBg.gif) repeat-x 0 0;
}

.subNavList {
    height: 29px;
}

    .subNavList li {
        float: left;
        height: 29px;
        background: url(/Resources/images/old/topMenuLine.gif) no-repeat right 2px;
    }

        .subNavList li a {
            display: block;
            height: 25px;
            font-size: 14px;
            color: #d8fefe;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 4px;
            font-weight: bold;
        }

            .subNavList li a.subNavNo, .subNavList li a:hover {
                text-decoration: none;
                color: #ffffff;
            }

.subNavBg_Right {
    width: 20px;
    height: 29px;
    background: url(/Resources/images/old/topMenu_right.png) no-repeat 0 0;
}
/*中部内容框*/
.ContentBox {
    clear: both;
    padding-left: 6px;
    padding-right: 6px;
}

.ContentBoxS {
    width: 100%;
    background: url(/Resources/images/old/topLine.gif) 0 0 repeat-x;
    padding-top: 2px;
}
/*左侧菜单*/
.CntLeft {
    width: 167px;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #e5f2f8;
}
/*菜单标题*/
.menuTitle {
    width: 135px;
    height: 22px;
    background: url(/Resources/images/old/leftMenuTitle.gif) no-repeat 0 0;
    padding-top: 6px;
    padding-left: 32px;
}
/*菜单个性设置*/
.menubox {
    width: 167px;
    background: #e5f2f8;
    padding-left: 0px;
}

.box ul {
    list-style: none;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
}
/*一级菜单*/
.navmenu li {
    list-style-type: none;
    margin-left: 0px;
}

    .navmenu li.level1 a {
        display: block;
        margin-left: 0px;
        width: 137px;
        height: 22px;
        background: url(/Resources/images/old/leftMenuBg.gif) no-repeat;
        background-position: 0 0;
        color: #1e6599;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        padding-top: 6px;
        padding-left: 30px;
    }
        /*一级菜单两态样式,供JS调用*/
        .navmenu li.level1 a.hove {
            background-position: 0 -28px;
            color: #ff6600;
        }

        .navmenu li.level1 a.cur {
            background-position: 0 -28px;
            color: #ff6600;
        }
    /*二级菜单*/
    .navmenu li ul {
        padding-left: 0px;
        overflow: hidden;
        margin-left: 0px;
    }

        .navmenu li ul.level2 {
            width: 167px;
            display: none;
        }

            .navmenu li ul.level2 li {
                height: 27px;
            }

                .navmenu li ul.level2 li a {
                    display: block;
                    height: 20px;
                    width: 122px;
                    background: #ecf9ff url(/Resources/images/old/jt01.png) no-repeat 30px center;
                    color: #01669c;
                    font-size: 12px;
                    font-weight: normal;
                    padding-top: 6px;
                    padding-left: 45px;
                    border-bottom: 1px solid #b9cdd6;
                }
                    /*二级菜单两态样式,供JS调用*/
                    .navmenu li ul.level2 li a.hove1 {
                        color: #ff6600;
                        background: #F6F6F6 url(/Resources/images/old/jt02.png) no-repeat 30px center;
                    }
/*考试报名流程*/
.index_Left_Cnt {
    width: 144px;
    background: #e5f2f8;
    padding-top:12px;
    padding-left: 23px;
    overflow-x: hidden;
    height: auto;
    overflow: auto;
    position: relative;
    scrollbar-face-color: #b6e7fb;
    scrollbar-arrow-color: #058cc4;
    scrollbar-highlight-color: #f8fcfe;
    scrollbar-3dlight-color: #43c9fe;
    scrollbar-shadow-color: #f8fcfe;
    scrollbar-darkshadow-color: #43c9fe;
    scrollbar-track-color: #f4fafe;
}

.index_Left_ListBox {
    width: 144px;
    height: auto;
    margin-left: 0px;
    position: relative;
}

.index_Left_ListBox01 {
    width: 140px;
    margin-right: 0px;
    border-left: 4px solid #c1edff;
    height: auto;
    position: relative;
    z-index: 0;
    top: 24px;
    left: 0px;
}
/*左侧菜单每个栏目*/
.SmallListBox {
    display: block;
    width: 167px;
    height: 134px;
    position: relative;
    z-index: 1;
    left: -26px;
    cursor: pointer;
    top: -34px;
    text-decoration: none;
}
/*数字样式*/
.MenuDate01, .MenuDate02, .MenuDate03 {
    display: block;
    width: 49px;
    height: 40px;
    position: absolute;
    text-align: center;
    padding-top: 6px;
    z-index: 2;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.MenuDate01 {
    background: url(/Resources/images/old/dataBg01.png) no-repeat center center;
    color: #898787;
}

.MenuDate02 {
    background: url(/Resources/images/old/dataBg02.png) no-repeat center center;
    color: #0497d4;
}

.MenuDate03 {
    background: url(/Resources/images/old/dataBg03.png) no-repeat center center;
    color: #0497d4;
}
/*列表字体样式*/
.menuListFont01, .menuListFont02, .menuListFont03 {
    display: block;
    width: 119px;
    height: 44px;
    font-size: 14px;
    font-family: '宋体';
    font-weight: bold;
    position: absolute;
    padding-right:6px;
    padding-left:4px;
    z-index: 2;
    right:10px;
    top: 40px;
    text-align: center;
    padding-top: 40px;
    text-decoration: none;
}

.menuListFont01 {
    background: url(/Resources/images/old/menuListBg01.png) no-repeat center center;
    color: #898787;
}

.menuListFont02 {
    background: url(/Resources/images/old/menuListBg02.png) no-repeat center center;
    color: #0497d4;
}

.menuListFont03 {
    background: url(/Resources/images/old/menuListBg03.png) no-repeat center center;
    color: #0497d4;
}
/*左右折叠*/
.zoombar, .zoomout {
    float: left;
    width: 6px;
    height: 100%;
    overflow: hidden;
    background: url(/Resources/images/old/shrinkBtn.gif) no-repeat;
    background-position: center center;
    cursor: pointer;
}
/*右侧内容*/
.RightCnt {
    top: 27px;
}

.mask {
    height: 100%;
    overflow: hidden;
}
/*右侧title标题*/
.RtitleBox {
    height: 24px;
    padding-top: 3px;
    background: url(/Resources/images/old/RtitleBg.gif) 0 0 repeat-x;
}

.RtitleLeft {
    float: left;
    width: 10px;
    height: 24px;
    background: url(/Resources/images/old/Rtitle_Left.gif) 0 0 no-repeat;
}

.RtitleCenter {
    height: 18px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    color: #1e6599;
    background: url(/Resources/images/old/Rtitle_Center.gif) 0 0 repeat-x;
}

.RtitleRight {
    width: 30px;
    height: 24px;
    float: left;
    background: url(/Resources/images/old/Rtitle_Right.gif) 0 0 no-repeat;
}
/*页脚*/
.footer {
    clear: both;
    height: 19px;
    width: 100%;
    text-align: center;
    background: url(/Resources/images/old/footerBg.gif) 0 0 repeat-x;
    padding-top: 5px;
}

/*倒计时*/
.djTimeBox {
    width: 151px;
    height: 58px;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    line-height: 24px;
    background: #d8f0fb;
    color: #1e6599;
}

.djTimeFont {
    color: #ff6600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*弹框样式*/
.TclayerBox{ width:298px;height:132px; background:#fcfeff; position:fixed; right:10px; bottom:0; border:1px solid #069dd5; z-index:99; -moz-box-shadow:3px 3px 3px #ccc; -webkit-box-shadow:3px 3px 3px #ccc;  box-shadow:3px 3px 3px #ccc;}
.TcTitle {
    width: 298px;
    height: 26px;
    background: url(/Resources/images/old/tcTipTitle.gif) repeat-x 0 0;
}
.TcTitleL{ display:block; float:left;width:78px; padding-left:12px; padding-top:4px; height:22px; font-size:14px; font-family:'微软雅黑'; color:#fff; font-weight:bold;}
.TCloseBtn {
    display: block;
    width: 18px;
    height: 18px;
    float: right;
    margin-right: 2px;
    margin-top: 4px;
    background: url(/Resources/images/old/TCloseBtn.gif) no-repeat 0 0;
}
    .TCloseBtn:hover {
        background: url(../Resources/images/old/TCloseBtn01.gif) no-repeat 0 0;
    }
/*弹框内容*/
.TCntBox{ clear:both; width:266px; height:74px; padding:16px; font-family:'微软雅黑'; line-height:24px; font-size:14px;}
.tFont01{ color:#F60; font-size:16px;}

